*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgb(112, 4, 126);
  box-shadow: 0 1px 8px rgb(102, 102, 102);
  padding: 20px;
}

h1{
  font-size: 1.5em;/*Esta por la puras creo, revisar*/
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 20px;
}

/* #nav-title{
  margin-right: auto;
  font-size: 1.5em;
  color: white;
} */

a{
  color: white !important;
}

/* header li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
} */

header a{
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover{
  color: #b2dfdb;
}

.dropdown {
  display: block;
}
.nav-title{
  margin-right: 50px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #3f0430;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -10%;
}
.dropdown-content li{
  display: block;/*Si lo comento se pone en fila el menu*/
  padding: 10px 10px;
}
.dropdown-content li a {
  text-decoration: none;
  color: #666;
}
.dropdown-content li a:hover {
  text-decoration: underline;
  color: whit;
}
.dropdown:hover .dropdown-content{
  display: block;
}
/*Usar : after*/
.dropdown:hover .dropdown-button {
  text-decoration: underline;
}
/*grupo_a.html*/
/* main{
  --color-primary: red;
} */
main {
  width: 100%;
  color: white;
  font-weight: bold;
  --color-primary:rgb(111, 45, 106);
}
.table {
  box-shadow: 10px 10px 20px #ccc;
  border-radius: 10px;
}
#container {
  margin: 50px auto;
  width: 50%;
  /* border: dotted white 0.5px; */
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}
#container > h2{
  margin-bottom: 10px;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.row > div{
  width: 25%;
  text-align: left;
}
.th{
  background-color: #333;
  color: white;
  font-weight: bold;
  /* padding: 20px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: var(--texto-grande);
}
.tr{
  /* padding: 20px; */
  background-color: var(--primer-color);
  border-bottom: 1px #666 dashed;
  font-size: var(--texto-mediano);
}
.tr:nth-child(even){
  background-color: rgb(55, 3, 50);
  font-size: var(--texto-pequeno);
}
/*Agarra la ultima fila y le pone el borde redondeado*/
.tr:last-child{
  border-bottom: 1px #3f0430 solid;
  border-radius: 0 0 10px 10px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*Pode,ps ejecutar ciertos estilos*/
  body{
    background-color: red;
  }
  /* header{
    border: solid;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 45%;
  }
  header ul{
    flex-direction: column;
    padding: 0;
  }
  nav{
    border: solid green;
  } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
      background-color: green;
    }
    /* header {
      border: solid;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100vh;
      width: 45%;
    }

    header ul {
      flex-direction: column;
      padding: 0;
    }

    nav {
      border: solid green;
    } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  body {
      background-color: purple;
    }
    #page{
      display: flex;
    }
    header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100vh;
      width: 20%;
      padding: 20px;
    }
    header:hover {
      width: 20%;
      padding: 20px 50px;
      transition: all 1s;
    }

    header ul {
      margin-top: 20px;
      flex-direction: column;
      padding: 0;
    }
    .dropdown-content {
      margin-top: 0px;
      margin-left: 40px;
      /* nav {
      border: solid green;
    } */
    }
    main{
      width: 100%;
    }
  }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
      background-color: purple;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
      background-color: black;
    }
}