<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/index.css">
  <title>Document</title>
</head>
<body>
  <header>
    <diV>Header</diV>
  </header>
  <main>
    <!-- Aside son los menus verticales -->
    <aside>
      <h1>Aside</h1>
    </aside>
    <div class="container">
      <h1>Article</h1>
      <div>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
    </div>
  </main>
  <footer>
    <h1>Footer</h1>
  </footer>
</body>
</html>